@import url("https://use.typekit.net/ydt0kuk.css");

// Root

body {
    margin: 0px;
}

// Colours

$primaryDark: #000;
$primaryLight: #fff;
$primaryGrey: #192026;
$darkRed: #D93644;
$primaryRed: #F2385A;
$primaryGreen: #02A6A6;
$primaryYellow: #F2D680;

// Sizes

$headerHeight: 8vh;

// Fonts

$titleFont: nimbus-sans, sans-serif;
$subTitleFont: toppan-bunkyu-gothic-pr6n, serif;