// @import url("https://use.typekit.net/ydt0kuk.css");
// @import url("./fonts.css");

@font-face {
  font-family: "nimbus_sans_lbold";
  src: url("~/fonts/NimbusSanL-Bol-webfont.woff");
  font-weight: normal;
  font-display: fallback;
  font-style: normal;
}

// Root

body {
  margin: 0px;
}

// Colours

$primaryDark: #000;
$primaryLight: #fff;
$primaryGrey: #192026;
$primaryLightGrey: #808080;
$darkRed: #d93644;
$primaryRed: #f2385a;
$primaryGreen: #02a6a6;
$primaryYellow: #f2d680;

// Sizes

$headerHeight: 8vh;

// Fonts

// $titleFont: nimbus-sans, sans-serif;
$titleFont: nimbus_sans_lbold, sans-serif;
$subTitleFont: toppan-bunkyu-gothic-pr6n, serif;

// BreakPoints

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
